body{
    font-family: "Helvetica";
}
h1{
    color:black;
}
.button1{
    background-color:red;
    color:white;
    padding: 10px;
    border-radius:10px;
    text-decoration:none;
    position:relative;
    top:10px;
}
.button1:hover{
    background-color:rgb(187, 0, 0);
}
.button2{
    background-color:#3e76ec;
    color:white;
    padding: 10px;
    border-radius:10px;
    text-decoration:none;
    position:relative;
    top:10px;
}
.button2:hover{
    background-color:#1a4cb8;
}
.button3{
    background-color:#179a13;
    color:white;
    padding: 10px;
    border-radius:10px;
    text-decoration:none;
    position:relative;
    top:10px;
}
.button3:hover{
    background-color:#137010;
}
.canvas{
    position:relative;
    z-index:-1;
    display:inline;
    border:2px solid black;
}
#country_name{
    position:relative;
    height:32px;
    z-index:1;
    background-color:black;
    font-size:20px;
    color:red;
    /*width:1000px;*/
    text-align:center;
}
#slider{
    z-index:4;
    width:1000px;
}
#value-time{
    display:none;
}
#mySelect{
    display:inline-block;
    height:40px;
    border-radius:10px;
    margin-bottom:10px;
}
#current{
    display:none;
}
#form{
    z-index:5;
    top:100px;
    display:block;
}
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid black;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius:10px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color:#3e76ec;
    color: #fff;
    cursor: pointer;
    border-radius:10px;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  #submit{
    margin-left:22px;
    border:none;
    font-size:16px;
    background-color: #3e76ec;
    color:white;
    padding:10px;
    border-radius:10px;
    margin-bottom:20px;
    margin-top:20px;
  }
  #submit:hover{
    background-color:#179a13;
    transition:0.5s;
    cursor: pointer;
  }